@font-face {
    font-family: 'do_david';
    src: url('./fonts/dodavidgothicaged-webfont.woff2') format('woff2'),
    url('./fonts/dodavidgothicaged-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroy';
    src: url('./fonts/Gilroy-Regular.woff2') format('woff2'),
    url('./fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroy';
    src: url('./fonts/Gilroy-Heavy.woff2') format('woff2'),
    url('./fonts/Gilroy-Heavy.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'gilroy';
    src: url('./fonts/Gilroy-Bold.woff2') format('woff2'),
    url('./fonts/Gilroy-Bold.woff') format('woff');
    font-weight: normal;
    font-style: oblique;

}

@font-face {
    font-family: 'gilroy-medium';
    src: url('./fonts/Gilroy-Medium.woff2') format('woff2'),
    url('./fonts/Gilroy-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}